/* *** Colors Dark to light ***
 * #000000
 * #141414
 * #1B1B1B
 * #bdbdbd
 * #E1E1E1
 * #F3F3F3
 * #FFFFFF
 */

/******* Canvas CSS ******/
body {
  overflow: hidden;
  margin: 0;
}

mark {
  /* color: transparent; */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

p {
  font-family: 'Montserrat', sans-serif;
}

/**** MATERIAL CSS ****/

.icon-recolor {
  color: #bdbdbd;
}

.icon-larger {
  transform: 'scale(1.3)';
}

.thin-textfield {
  width: 30px;
  color: black;
}

.page-wrapper {
  position: relative;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

/******* NAV BAR **********/

.nav {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 56px;
  z-index: 100;
  border-bottom: 1px solid #e1e1e1;
}

.nav p {
  margin: 0;
}

.nav-items-left {
  display: flex;
  height: 100%;
  align-content: space-evenly;
}

.nav-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  height: 100%;
}

.nav-logo {
  width: 175px;
  padding: 0 50px;
  display: flex;
  align-items: center;
  height: 100%;
}

/****** EDITOR NAV ******/

.editornav {
  position: absolute;
  height: 100%;
  background-color: #ffffff;
  border-right: 1px solid #e1e1e1;
  z-index: 100;
}

.editornav-tags {
  display: flex;
  justify-content: space-evenly;
  height: 50px;
  border-bottom: 1px solid #e1e1e1;
}

.editornav-navigator {
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 50px;
}
.editornav-navigator:hover {
  cursor: pointer;
}

.editornav-notes {
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 50px;
}
.editornav-notes:hover {
  cursor: pointer;
}

.editornav-toggle {
  display: flex;
  padding: 0 20px;
  align-items: center;
  height: 50px;
}
.editornav-toggle:hover {
  cursor: pointer;
}

.editornav-div {
  border-right: 1px solid #e1e1e1;
  height: 50px;
}

/******* NAVIGATE ********/

.navigate {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navigate-pager {
  height: 70px;
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.navigate-pager-item {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

/******* CANVAS ***********/

.canvas {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
  background-color: rgb(247, 247, 247);
}

.notes-layer {
  position: absolute;
  transform-origin: top left;
  z-index: 1;
}

.document-layer {
  position: absolute;
  transform-origin: top left;
}

.text-layer span {
  position: absolute;
}

.text-layer {
  top: 8px;
  left: 30px;
}

/****** HIGHLIGHT MENU **********/
.highlight-menu {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  -webkit-box-shadow: 2px 6px 6px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 2px 6px 6px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 6px 6px -2px rgba(0, 0, 0, 0.27);
  transition-duration: 0.1s;
}

.highlight-menu:hover {
  cursor: pointer;
  transition-duration: 0.1s;
  -webkit-box-shadow: 2px 9px 14px -2px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 2px 9px 14px -2px rgba(0, 0, 0, 0.27);
  box-shadow: 2px 9px 14px -2px rgba(0, 0, 0, 0.27);
}

.repositon-icon {
  position: relative;
  left: 18.8%;
  top: 20.8%;
}

/******* DOCUMENT *********/

.rect {
  position: absolute;
  background-color: transparent;
  border: 3px solid black;
}

.document-page {
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16), 0 3px 16px rgba(0, 0, 0, 0.23);
}

.document-loader {
  display: flex;
  align-items: center;
  height: 2588px;
  width: 2000px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.16), 0 3px 16px rgba(0, 0, 0, 0.23);
  background-color: white;
}

.react-pdf__Page__annotations {
  display: none;
}

.react-pdf__Page__textContent :hover {
  cursor: text;
}

.react-pdf__Page__textContent span {
  opacity: 0.1;
}

.react-pdf__Page__textContent span::selection {
  background-color: blue;
}

.react-pdf__Document {
  line-height: initial;
}

/********** REFERENCE MODEL ***********/
.reference-model {
  position: absolute;
  transform-origin: top left;
  background-color: #ffdc00;
  opacity: 0.3;
  border-radius: 8px;
  z-index: 2;
}

.reference-model-options-list {
  position: absolute;
  display: flex;
  transform-origin: top left;
}

.reference-model-option {
  position: relative;
  width: 40px;
  height: 40px;
  margin-right: 10px;
  z-index: 3;
}

/********** NOTE MODEL ***********/
.note-model {
  position: absolute;
  transform-origin: top left;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

/*********** LINK MODEL **********/
.link-layer {
  display: block;
  overflow: visible;
  pointer-events: none;
}

.link-model {
  stroke: url(#grad);
  stroke-width: 3px;
  fill: none;
}
